name: Python Tests

on:
  push:
    branches: [ main ]
    paths:
      - 'python/**'
      - 'examples/**'
      - '.github/workflows/python-tests.yaml'
  pull_request:
    branches: [ main ]
    paths:
      - 'python/**'
      - 'examples/**'
      - '.github/workflows/python-tests.yaml'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libgraphviz-dev graphviz -y
        python -m pip install --upgrade pip
        cd python && pip install -e .[dev,rag-chroma,graph-kuzu,tools]
    - name: Run tests with pytest
      run: |
        cd python && pytest
